.banner-top{
  margin-left: 450px;
  margin-top: 300px;
  width: 900px;
  height: 300px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  background: linear-gradient(45deg,#00B1EE, #2875C4, #F94F51);
}

p {
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}

p2 {
  font-size: 18px;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
}

.text-top {
  margin-top: -140px;
  margin-left: 300px;
}

.logo-update {
  margin-top: 50px;
  width: 280px;
  height: 200px;
}
